#home-center {
    width: 700px;
    max-width: 100%;
    padding: 30px;
}

.content {
    font-size: 80%;
}

#home-footer {
    padding-bottom: 30px;
    line-height: 1.6;
}

#spotlight {
    height: unset;
}